@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800;1,900&family=Raleway:wght@300;400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.popup {
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.h2-pop {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;

}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    background-color: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.sign-in {
    border-radius: 30px;
    border: 0;
    background-color: #fff;
    padding: 10px 60px;
    cursor: pointer;
    outline: none;
    font-size: 22px;
    font-weight: 500;

}




#header {
    width: 100%;
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(hope.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 5px 5px black;
    position: relative;
    box-shadow: 0 6px 14px black;
}

.container {
    padding: 10px 10%;
    box-shadow: 0 5px 10px black;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    width: 80px;
    border-radius: 50%;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;


}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #00ff33;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
    border-radius: 30px;

}

nav ul li a:hover::after {
    width: 100%;
}

.sign-in {
    width: 100px;
    padding: 10px 0;
    border-radius: 30px;
    background: transparent;
    border: 2px solid #18ad18;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

span {
    width: 0;
    height: 100%;
    background: #18ad18;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    border-radius: 30px;
}

.sign-in:hover {
    border: none;
    padding: 12px 0;
}


.sign-in:hover span {
    width: 100%;
    color: white;
    border: none;
}

.sign-in:active span {
    background-color: #0e5d1d;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;

}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;

}



.header-text h1 span {
    color: #ff004f;
}

nav .fa {
    display: none;
    color: white;
}

.you-div {
    display: block;
    width: 100%;
    text-align: center;
    margin: 12% auto;

}

.you {
    color: white;
    font-size: 80px;

    margin: auto 5%;
    transition: 0.3s;


}

.you:hover {
    transform: scale(1.1);
    text-shadow: 5px 11PX 8PX black;
}

.you-p {
    color: white;
    font-size: 25px;
    margin: auto 12%;
    transition: transform 0.3s;


}

.you-p:hover {
    transform: scale(1.1);

}

.you-div button {
    width: 129px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid yellow;
    margin-top: 20px;
    background: transparent;
    font-size: 18px;
    font-weight: 700;
    color: white;
    transition: background 0.3s;
    transition: transform 0.3s;
}

.you-div button:hover {
    transform: scale(1.1);
}

.you-div button:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
}






/* ----------------  Companies ----------------- */

.companies {
    width: 100%;
    height: fit-content;
    background: linear-gradient(rgba(0, 0, 0, 0.791), rgba(77, 75, 75, 0.466)), url(little-plant.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 0;
}

.companies h2 {
    text-align: center;
    text-shadow: 5px 5px 13px white;
    color: white;
    font-size: 54px;
    padding: 34px 0;
    padding-bottom: 61px;
}

.company-data {
    width: 100%;

    display: flex;



}

.comp-img {
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
    display: flex;


}

.comp-img img {
    width: 320px;
}

.comp-info {
    background-color: rgb(248, 222, 30);
    display: flex;
    border-radius: 14px 0 0 14px;
    height: fit-content;
    flex-basis: 70%;
    margin: 15px;
    box-shadow: 18px 17px 28px black;

}

.info-1,
.info-3 {
    border-radius: 14px 0 0 14px;


}

.info-2,
.info-4 {
    border-radius: 0 14px 14px 0;

}

.comp-info-p {
    align-items: center;
    padding: 4% 3%;

}

.comp-info p {
    font-size: 18px;
}

.more {
    background: transparent;
    color: black;
    width: 100px;
    height: 45px;
    border-radius: 30px;
    border: 3px solid brown;
    outline: none;
    transition: 0.3s;
    margin-top: 2%;
    font-size: 16px;
}

.more:hover {
    background-color: brown;
    color: white;
    cursor: pointer;
}


/* --------------- ACHEIVEMENTS -------------- */



#portfolio {
    position: relative;
    box-shadow: 0 -10px 10px rgb(23, 20, 13);


}

.work-list {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 9px 13px #ab7777;
}



.work img {
    width: 100%;
    border-radius: 10px;
    display: flex;
    transition: 0.6s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #00ff33a2);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: 0.4s;
}

.work:hover img {
    transform: scale(1.1);

}

.work:hover .layer {
    height: 100%;
}

.sub-title {
    text-align: center;
    margin: 3% auto;
    color: black;
    font-size: 59px;
    text-shadow: 4px 4px 7px #584e4e;
}



.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
    color: white;

}

.layer p {
    color: white;
    font-size: 14px;

}

.layer a {
    margin-top: 20px;
    color: #094e1a;
    text-decoration: none;
    font-size: 22px;
    line-height: 60px;
    font-weight: 600;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.btn-see {
    display: block;
    margin: 50px auto;
    width: fit-content;
    padding: 14px 50px;
    border-radius: 31px;
    color: black;
    text-decoration: none;
    transition: background 0.5s;
    background: #3b913b;

}

.btn-see:hover {
    background: #42ce5e;

}

.container5 {
    padding: 10px 5%;
    background-color: wheat;
}

/* ------------------- Donation ------------ */



.donation{
    width: 100%;
    height: 80vh;
    background-color: rgb(227, 151, 176);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.donate-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pay-btn{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    background: #57c757;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 12px;
    transition: background 0.3s;
}

.pay-btn:hover{
    background: #46a046;
}
.pay-btn:active{
    background: #57c757;
}

.donate-2{
    display: flex;
    align-items: center;
    justify-content: center;

}

.donate-img{
    width: 400px;
    height: 600px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(hands.jpg);
    background-position: center;
    background-size: cover;
}

.donate-form{
    height: 550px;
    width: 400px;
    background: #fff;
 
}

.pay{
    width: 130px;
    display: block;
    margin: auto;
    margin-top: 12px;
}
.input-field {
    background-color: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 45px;
    transition: max-height 0.5s;
    overflow: hidden;

}
.input-field i {
    margin-left: 15px;
    color: #999;
}

.input-field img{
    margin-left: 15px;
    width: 25px;
    

}

.inp-cvv{
    width: 174px;
}


.form-details{
    padding: 12px 30px;
}

.form-details hr{
    text-align: center;
    display: block;
    margin: auto;
    width: 150px;
}

.inp {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.inp-cardnum{
    padding: 18px 10px;

}





/* ---------- Responsive --------- */



@media only screen and (max-width:998px) {
    #header {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(hope2.jpg);
        background-position: center;
        background-size: cover;

    }


    /* .header-text{
margin-top: 100%;
font-size: 16px;
}



.header-text h1{

font-size: 30px;


} */
}



@media only screen and (max-width:782px) {

    nav .fa {
        display: block;
        font-size: 25px;



    }

    .sign-in {
        margin: 10px 19px;
        border-radius: none;
    }

    span {
        border-radius: none;
    }

    nav ul {
        background: #132612;
        position: fixed;
        top: 0;
        right: -199px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.3s;
    }

    nav ul li {
        display: block;
        margin: 33px 19px;
    }

    nav ul li a:active {
        color: rgb(215, 204, 204);

    }


    nav ul .fa {
        position: absolute;
        left: 19px;
        top: 14px;
        cursor: pointer;
    }

}



@media only screen and (max-width:700px) {


    .company-data {
        display: block;
    }

    .comp-info {
        border-radius: 5px;
        margin: 10px;
        margin: 15px 0;
    }

    .companies h2 {
        font-size: 34px;
    }

    .more {
        display: block;
        margin: auto;
    }






}

@media only screen and (max-width:700px) {

    .work-list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .work img {
        width: 300px;
    }
}

@media only screen and (max-width:700px) {

    .popup{
        width: 300px;
    }
}

@media only screen and (max-width:452px) {

    .donate-img{
        display: none;
    }
    .donate-form{
        width: 350px;
        height: fit-content;
    }

}
@media only screen and (max-width:452px) {


    .donate-form{
        width: 300px ;
        
    }

}
